{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container">
            <h1>A propos</h1>
            <p>Ce site a été réalisé dans le cadre d'un projet étudiant afin de valider le diplôme.</p>
            <p>Le but de ce projet est de réalisé un site de location/achat d'occasion de voiture</p>
            <p>Ce n'est en aucun cas un site officiel.</p>
            <p>La fonctionnalité de paiement n'est par ailleurs pas disponible.</p>
        </div>
    </main>
{% endblock %}
