{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container">
            <h1>Mentions légales</h1>
            <p>Ce site a été réalisé par Fleur Dambreville dans le cadre d'un projet étudiant.</p>
            <p>La fonctionnalité de paiement n'étant pas disponible, les données renseignées par l'utilisateur ne seront pas utilisées à des fins commerciales.</p>
            <p>Ces données sont conservées uniquement pour de l'affichage et pour vérifier que l'utilisateur puisse les modifier.</p>
            <p>Pour toutes questions vous pouvez me contacter à l'adresse suivante : fleur.dambreville@gmail.com</p>
        </div>
    </main>
{% endblock %}