/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

button {
    border-width: 0px;
}

/* GENRAL */
.card {
    margin-bottom: 20px;
}

.margin-10-px{
    margin: 10px;
}

.form-centered{
    justify-items: center;
}

.form-centered form div {
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
}

#checkout-buttons {
    padding-top: 15px;
}

#checkout-buttons a {
    margin: 10px;
}

.button-width {
    width: 20rem;
}

#messages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.message {
    position: absolute;
    top: 25%;
    left: 45%
}

.success { 
    background-color: #5cb85c;
    color: #216e28	;
}

.error { 
    background-color: #d9534f;
    color: #4b0000,
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

.close-btn:hover {
    color: #000;
}

input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.hidden-message {
    display: none;
}
